*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(202, 202, 202);
}

#cartshopp{
    position: absolute;
    width: auto;
    top: 55px;
    right: 0;
    background-color: cadetblue;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: start;
}

li{
    display: flex;
    margin: auto;
}

a{
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px 0px 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.vaciarCart{
    
    background-color: blueviolet;
}

button:hover{
    cursor: pointer;
}

#cart button{
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: rgb(245, 110, 245);
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 6px;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: aqua;
}

.content{
    margin: 0 30px 0;
    text-align: center;
}

.content h3{
    margin-bottom: 2rem;
}