header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: start;
}

li{
    display: flex;
    margin: auto;
}

a{
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px 0px 10px;
}

button:hover{
    cursor: pointer;
}

.cartShop button{
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: rgb(245, 110, 245);
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 6px;
}