.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;

}

.tw-followCard-Header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-Info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-Username {
  opacity: .6;
}

.tw-followCard-Img {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.tw-followCard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}

.tw-followCard-button:hover {
  background: rgb(16, 153, 233);
  cursor: pointer;
  color: white;
}